{% extends "layout.html" %}
{% block body %}

    <form action="{{ url_for('edit_rider', id=id) }}" method=post
          class=add-entry>
      {{ form.hidden_tag() }}

      <dl>
        <dt>Name:
        <dd>{{ form.name() }}
        <dt>Age:
        <dd>{{ form.age() }}
        <dt>Club:
        <dd>{{ form.club() }}
        <dt>Category:
        <dd> {{ form.category() }}
        <dt>Time:
        <dd>{{ form.time()}}
        <dt>History:
        <dd>{{ form.history }}
        <dd><input type=submit value="Update Rider">
          <input type=submit name="delete" value="Delete Rider"/>
      </dl>
    </form>


{% endblock %}
