{% extends "layout.html" %}
{% block body %}

    <form action="{{ url_for('add_rider') }}" method=post class=add-entry>
      {{ form.hidden_tag() }}
      <dl>
        <dt>Name:
        <dd>{{ form.name() }}
          {% for error in form.errors.name %}
            {{ error }}
          {% endfor %}
        <dt>Age:
        <dd>{{ form.age() }} 
          {% for error in form.errors.age %}
            {{ error }}
          {% endfor %}
        <dt>Club:
        <dd>{{ form.club() }}
        <dt>Category:
        <dd>
            {{ form.category() }}

          </select>
        <dd><input type=submit value="Add Rider">
      </dl>
    </form>

  There are currently {{ racers | length }} riders without a time
  <ul class=entries>
  {% for entry in entries %}
    <li><b><a href="{{ url_for('edit_rider', id=entry.id) }}"><b>{{
  entry.name }}</b></a> Time:{{ entry.time }}, Cat: {{
  entry.category.name }}, Age:{{ entry.age }}, Club:{{ entry.club }}</b>
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  </ul>
{% endblock %}
